<!--Style Page--> 
*{
    margin: 0;
    padding:  0;
    box-sizing :
}


body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color:black;
    
}

h1 {
    font-size: 3rem;
    line-height: 32px;
    color: black;
    background-color: #646f58;
}

h2 {
    font-size: 2.5rem;
    text-align: left;
    
    border-bottom: black;
}

h3 {
    font-size: 1.5rem;
    text-align: left;
}

header, main, footer {
   margin: 1.25rem auto;
   padding: 0.5rem;
   max-width: 960px; 
   image-orientation: float;

   image-resolution: 25%;



}

footer {
    text-align: center;
    background-color: #646f58;
}
