/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, main, footer{
    font-family: 'Trade Winds', cursive;
 }
 
 nav button{
    margin: .2rem 2%;
    background-color:   #AFBE8F ;
    border: none;
    font-size: 1.6rem;
    color:  #DDE392;
}

nav {
    background-color:   #DDE392;  /*this is the spot for changing the button color*/
    font-family: 'Trade Winds', cursive;
    text-align: center;
    border: solid #5c6e48;
}

nav ul{
    list-style-type:    none;
    padding:    0;
    margin: 0;
    background-color: #AFBE8F;
    border: #504B3A;
    font-weight: bold;
    font-size: 20px;

}


nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #646F58;
    border-top: 1px solid rgba(0,0,0,0.5);
    text-align: center;
    border: solid #5c6e48
}


/*this chakges the background and text color*/
nav ul li.active {
background-color:#AFBE8F;
padding: 1rem 1rem;
}


nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {display:   none;}

 .cards {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     
 
 }
 .cards section{
     margin: .5rem;
     padding: .5rem;
 }
 .cards section img{
     width: 100%;
     height: auto;
 }
 
 
 header{
     background-color: #646F58; 
     color: #DDE392;
     text-align: center;
     
     
 }
 
 main{
   background-color: lightgoldenrodyellow;  /*this is the spot for changing the button color*/
   text-align: center;
  
   font-family: 'Trade Winds', cursive;
 }
 
   
 a {
    color: #f2f89e;
}
  
 
 footer{
     background-color: #5c6e48;
     color: #f2f89e;
     padding: 2rem 2rem;
     font-size: 1rem;
     text-align: center;
     font-family: 'Trade Winds', cursive;
   }
 
 
 /*----- Clearfix: Force an Element not to collapse -----*/
 .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }


     
 
 
 
 
 
 
 
 
 
 
