<!--Sub Pages>
body{
    font-size: 18px;
    line-height: 1.5em;
    font-family:    'Open! Sans', sans-serif;
    color: black;
    padding-bottom: 1rem;
    margin: auto;
}

header, 
footer{
    font-family:  'Oswald', sans-serif;
    background-color:  #646f58;
    display: flex;
    flex-flow:  column;
    align-items:    left;
    justify-content: center;
    padding: 10px;
}

header, 
nav, 
footer {
    max-width: 767px:
    margin: 0 auto;
}

h1  {
    font-size: 2rem;
    line-height: 32px;
    font-family:'Public Sans', sans-serif;
    color: #dde392;
    background-color: #646f58;
