<!--Sub Pages-->


@media only screen and (min-width: 37.5em) {
	
    nav ul { 
        display: grid;
        grid-template-columns: repeat (auto-fill, minmax(130px, 1fr));
    }   
}




body{
    font-size: 18px;
    line-height: 1.5em;
    font-family:    'Open! Sans', sans-serif;
    color: black;
    padding-bottom: 1rem;
    margin: auto;
}


header, 
nav, 
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1  {
    font-size: 2rem;
    line-height: 32px;
    font-family:'Public Sans', sans-serif;
    color: #dde392;
    background-color: #646f58;

}

h2 {
    font-size: 2.5rem;
    font-family:'Public Sans', sans-serif;
    text-align: left;
    color: #dde392;
    background-color:#646f58;
}

 nav    {
    color: #AFBE8F;
    background-color:  #504b3a;
    text-align: left;
    box-shadow: 0 2px 15px;
    image-resolution: 10%;

 }


footer  {
    text-align: center;
    color:  #dde392;
    background-color: #646f58;
}

