/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav button{display:none;}

    nav ul{margin-left: 2%;}

    nav ul li{
        float: left;
        border-right: 1px solid rgba(0,9,9,0.3);
        padding: 0.8rem 1rem;
    }

    nav ul li a{border: none;}
} /*end medium */
