<!--Style Page--> 


body {
   background-color: white;
   max-width: 1000px;
   margin:1 rem;
}

main{
    display:grid;
    grid-template-columns: 1fr;
}
 
main section{
    background-color: #646f58;
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 3px black solid;
}

main section h4, h5{
    font-family: ;
    font-size: 1.2rem;
}

main section p{
    font-family: 'Public Sans';
}

