
header, footer {
    font-family:  'Trade Winds', cursive;
    background-color:  #5c6e48;
    color: #f2f89e;
    display: flex;
    flex-flow:  column;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

body{

  font-size: 18px;
  line-height: 1.5em;
  font-family:    'Trade Winds', cursive;
  background-color: lightgoldenrodyellow;
  padding: 2rem;
  text-align:  center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
}