
header, main, footer{
   font-family: 'Trade Winds', cursive;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  

}
.profile section{
    margin: .5rem;
    padding: .5rem;
}
.profile section img{
    width: 100%;
    height: auto;
}


header{
    background-color: #646F58; 
    color: #DDE392;
    text-align: center;
    
    
}

main{
  background-color: lightgoldenrodyellow;  /*this is the spot for changing the button color*/
  text-align: center;
 
  font-family: 'Trade Winds', cursive;
}

  


footer{
    background-color: #5c6e48;
    color: #f2f89e;
    padding: 2rem 2rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Trade Winds', cursive;
  }
















