<!--Style Page--> 

head {
   <style>
        * {
          box-sizing: border-box;
        }
        
        
        .column {
          float: left;
          width: 33.33%;
          padding: 10px;
          height: 300px; 
        
        
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
}
    
body {
   background-color: white;
   max-width: 1000px;
   margin:1 rem;
}

.column{
   float: left;
   widows: 33.33%;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

header, main, footer {
   margin: 1.25rem auto;
   padding: 0.5rem;
   max-width: 960px; 
}

header, footer {
    text-align: center;
    background-color: #646f58;
}
