header, main, footer{
   font-family: 'Trade Winds', cursive;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    

}
.cards section{
    margin: .5rem;
    padding: .5rem;
}
.cards section img{
    width: 100%;
    height: auto;
}


header{
    background-color: #646F58; 
    color: #DDE392;
    text-align: center;
    
    
}

main{
  background-color: lightgoldenrodyellow;  /*this is the spot for changing the button color*/
  text-align: center;
 
  font-family: 'Trade Winds', cursive;
}

  


footer{
    background-color: #5c6e48;
    color: #f2f89e;
    padding: 2rem 2rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Trade Winds', cursive;
  }
















footer{

}