
body, h1 {
    background-color: #646F58;
}

/*The Input Form*/
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


/*Client Side Validation*/
  input:valid {
    border: 2px solid black;
  }

 
  