/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color:   #AFBE8F ;
    border: none;
    font-size: 1.6rem;
    color:  #DDE392;
}

nav {
    background-color:   #DDE392;  /*this is the spot for changing the button color*/
    font-family: sans-serif;
    text-align: center;
}

nav ul{
    list-style-type:    none;
    padding:    0;
    margin: 0;
    background-color: #AFBE8F;

}


nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color:  #000;
    border-top: 1px solid rgba(0,0,0,0.5);
    text-align: center;
}


/*this chakges the background and text color*/
nav ul li.active {
background-color:#AFBE8F;
padding: 1rem 1rem;
}


nav ul li a:hover{background-color: rgba(0,0,0,0.4);
}

nav ul.hide {
    display:   none;
    }
    




header{
      background-color: #646F58; 
      color: #DDE392;
      text-align: center;
      
      
  }

  main{
    background-color: lightgoldenrodyellow;  /*this is the spot for changing the button color*/
    font-family: sans-serif;
    text-align: center;
    padding: 2rem 0;
  }

    h2, h3, p {
        margin: 0;
        text-align: center;
    }
    
    
    .herodiv {
        margin: 10px auto;
        position: relative;
        border: 1px dashed #504B3A;
        width: 960px;
        height: 300px;
    }

    .hero-ph{
        margin: 10px auto;
        position: relative;
        border: 1px dashed #504B3A;
        width: 25%;
        height: 150%;


    }

    .currentweather{
        position: abolute;
        top: 50px;
        left: 50px;
        color: aqua;
        background: radial-gradient(80,75,58);
        border: 1px solid #504B3A;
        padding: 5rem;
        box-shadow: 0 0 30px #504B3A;
        
       
    }

  .flex {
      display: flex;
      flex-direction: row;
  }
  
  .col {
      flex:1 1 100%;
      border-top: 1px solid #000;
      border-bottom: 1 px solid #000;
      border-left: 1px solid #000;
      background-color: #bed;
      text-align: center;
  }


  
 footer{
      background-color: #DDE392;
      color: #504B3A;
      padding: 2rem 2rem;
      font-size: 1rem;
      border-top: solid #646F58;
      font-family: sans-serif;
      text-align: center;
    }
 

 

    /*section ul li b {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #DDE392;
    border-top: 1px solid rgba(0,0,0,0.5);
    }

   /* h1, h2, p {margin: 0;}

    .stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
    }


    main {max-width:820px;margin:0 auto;}
    h1 {text-align: center;font-size:2.5rem;text-shadow:3px 3px 5px #777;}










    


  
    /*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }


     